doctype html
html
  head
    base(href="/")

    link(href="/node_modules/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css", rel="stylesheet")

    link(href="/styles/main.css", rel="stylesheet")
  body
    app

    script(src="/node_modules/jquery/dist/jquery.min.js")
    script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
      
    script(src="/node_modules/zone.js/dist/zone.js")
    script(src="/node_modules/reflect-metadata/Reflect.js")
    script(src="/node_modules/systemjs/dist/system.js")
    script(src="/system.config.js")
    script SystemJS.import('app');
